<?xml version='1.0' encoding='utf-8'?>
<widget id="ru.deilo.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Deilo</name>
    <description>
       Deilo App
    </description>
    <author email="info@deilo.ru" href="https://deilo.ru">
        Deilo Team
    </author>
	<gap:plugin name="cordova-plugin-whitelist" source="npm" />
	<feature name="http://api.phonegap.com/1.0/network"/>
    <content src="index.html" />
    <access origin="*" />
	<allow-navigation href="*" />
	<allow-intent href="*" />
</widget>
