<?xml version='1.0' encoding='utf-8'?>
<widget id="ru.deilo.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Deilo</name>
    <description>
       Deilo
    </description>
    <author email="info@deilo.ru" href="https://deilo.ru">
        Deilo
    </author> 
	<preference name="phonegap-version" value="cli-9.0.0" />
	

<preference name="WindowsStoreDisplayName" value="Deilo" />
<preference name="WindowsStoreIdentityName" value="57631Deilo.Deilo" />
<preference name="WindowsStoreIdentityPublisher" value="CN=6CEA749E-5EFA-403F-8DFC-D7D24549B615" />



<vs:platformSpecificValues>
<vs:platformSpecificWidget platformName="windows" id="57631Deilo.Deilo_ee3cd1hv8vdzr" />
</vs:platformSpecificValues>	
	
	
	<gap:plugin name="cordova-plugin-whitelist" source="npm" />
	<feature name="http://api.phonegap.com/1.0/network"/>
	<preference name="Fullscreen" value="false" />
	<preference name="DisallowOverscroll" value="true"/>
	<preference name="Orientation" value="default" />
	<icon src="icon.png" />
	<feature name="http://api.phonegap.com/1.0/storage"/>
	<gap:plugin name="cordova-plugin-network-information" source="npm" />
    <content src="index.html" />
    <access origin="*" />
	<allow-navigation href="*" />
	<allow-intent href="*" />
</widget>
